@charset "utf-8";
/* columns */
.panel {
  display: inline-block;
  margin-top: 10px;
  margin-right: 15px;
  width: 300px;
  min-height: 100px;
  vertical-align: top;
}
#pseudo-box {
  margin-top: 30px;
}
#independent-notice-line {
  display: none;
  position: absolute;
  top: 30px;
  right: 0;
}
#sub-menu-box {
  display: none;
}
.section {
  padding-bottom: 10px;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 2px 0 #ebeff2 inset;
  background: #fff;
}
.section h3 {
  height: 40px;
  line-height: 40px;
  margin-bottom: 15px;
  padding-left: 15px;
  font-weight: normal;
}
.section h3 span {
  border-bottom: 2px solid #ffdd4d;
  display: block;
  height: 34px;
  margin: 0 0 0 -2px;
  padding: 5px 0 0 2px;
}
.section ol li,
.section ul li {
  list-style: none;
  border-bottom: 1px solid #eee;
  padding: 5px 15px;
}
.section ol li:last-child,
.section ul li:last-child {
  border-bottom: none;
}
/* hide tab bar */
#widget-tabs-box {
  display: none;
}
/* Default dashboard widget */
#defaultDashboardWidget #shortcut-collection,
#defaultDashboardWidget #total-information,
#defaultDashboardWidget #myBlogInfo,
#defaultDashboardWidget #textcube-notice {
  margin: 0 15px;
}
#defaultDashboardWidget tr:hover td {
  background: none;
}
#defaultDashboardWidget #shortcut-collection {
  border-bottom: 2px solid #ebeff2;
  padding: 0 15px 10px 15px;
  margin: 5px 0;
}
#defaultDashboardWidget #shortcut-collection h4 {
  display: none;
}
#defaultDashboardWidget #shortcut-collection ul {
  list-style: none;
}
#defaultDashboardWidget #shortcut-collection li {
  display: inline-block;
  padding: 0;
  border: none;
}
#defaultDashboardWidget #shortcut-collection li a {
  display: block;
  background: #d2d5d9;
  margin: 0 5px 5px 0;
  padding: 5px 10px;
}
#defaultDashboardWidget #shortcut-collection li a:hover {
  background: #ac2f3d;
  color: #fff;
  text-decoration: none;
}
#defaultDashboardWidget #total-information h4.caption {
  border-top: 1px solid #d2d5d9;
  margin: 0 -15px;
  padding: 10px 15px 0 15px;
  text-align: center;
  display: none;
}
#defaultDashboardWidget #total-information .posts-line,
#defaultDashboardWidget #total-information .visitors-line {
  float: left;
  width: 49.5%;
  border-collapse: collapse;
}
#defaultDashboardWidget #total-information .posts-line caption,
#defaultDashboardWidget #total-information .visitors-line caption {
  background: #ebeff2;
  height: 23px;
  padding: 5px 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-weight: bold;
}
#defaultDashboardWidget #total-information .posts-line thead,
#defaultDashboardWidget #total-information .visitors-line thead {
  display: none;
}
#defaultDashboardWidget #total-information .posts-line td,
#defaultDashboardWidget #total-information .visitors-line td {
  padding: 5px 0;
}
#defaultDashboardWidget #total-information .posts-line td.type,
#defaultDashboardWidget #total-information .visitors-line td.type {
  text-align: left;
  padding-left: 5px;
}
#defaultDashboardWidget #total-information .posts-line td.sum,
#defaultDashboardWidget #total-information .visitors-line td.sum {
  text-align: right;
  padding-right: 5px;
}
#defaultDashboardWidget #total-information .posts-line tr:first-child td,
#defaultDashboardWidget #total-information .visitors-line tr:first-child td {
  border-top: 2px solid #9aa0a6;
}
#defaultDashboardWidget #total-information .posts-line {
  margin-right: 2px;
}
#defaultDashboardWidget #total-information:after {
  content: " ";
  display: block;
  clear: both;
}
#defaultDashboardWidget #myBlogInfo {
  margin-bottom: 10px;
}
#defaultDashboardWidget #myBlogInfo h4.caption {
  text-align: center;
  padding: 5px 0 0;
  margin: 0;
  height: 20px;
  background: #ebeff2;
}
#defaultDashboardWidget #myBlogInfo table.recent {
  margin: 0;
}
#defaultDashboardWidget #myBlogInfo table.recent caption {
  display: none;
}
#defaultDashboardWidget #myBlogInfo table.recent th {
  display: none;
}
#defaultDashboardWidget #myBlogInfo table.recent tr:first-child td {
  border-top: 2px solid #9aa0a6;
}
#defaultDashboardWidget #myBlogInfo table.recent .date {
  width: 50px;
}
#defaultDashboardWidget #myBlogInfo table.recent .category {
  width: 40px;
}
#defaultDashboardWidget #textcube-notice {
  margin-bottom: 15px;
}
#defaultDashboardWidget #textcube-notice h4.caption {
  margin: 0;
  padding: 5px 15px 0 15px;
  text-align: center;
  height: 20px;
  background: #ebeff2;
}
#defaultDashboardWidget #textcube-notice tr:first-child td {
  border-top: 2px solid #9aa0a6;
}
#defaultDashboardWidget #textcube-notice .date {
  width: 40px;
}
#defaultDashboardWidget #textcube-notice table {
  margin: 0;
}
#widget-button-bottom {
  margin-top: 10px;
  padding: 10px 10px;
  background: #f5f8fa;
  border-radius: 2px;
}

/*# sourceMappingURL=center.css.map */