@import "http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic,300italic,300";
@charset "utf-8";
/* set icons */
@font-face {
  font-family: 'icomoon';
  src: url('icomoon/fonts/icomoon.eot?sasl7o');
  src: url('icomoon/fonts/icomoon.eot?#iefixsasl7o') format('embedded-opentype'), url('icomoon/fonts/icomoon.woff?sasl7o') format('woff'), url('icomoon/fonts/icomoon.ttf?sasl7o') format('truetype'), url('icomoon/fonts/icomoon.svg?sasl7o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* ---------------- mixins ---------------- */
.border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.transition-none {
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
}
.hidden {
  display: none;
}
.font-family-Lato {
  font-family: "Lato", "Hiragino Sans GB W3", "Apple SD Gothic Neo", "NanumGothic", sans-serif;
}
.font-family-Quicksand {
  font-family: "Quicksand", "Hiragino Sans GB W3", "Apple SD Gothic Neo", "NanumGothic", sans-serif;
}
.afterclear {
  content: " ";
  display: block;
  clear: both;
}
.buttonemphasis {
  background: #ac2f3d;
}
.buttonemphasis:hover {
  background: #d96275;
}
/* ---------------- colors ---------------- */
/* ---------------- buttons, inputs ---------------- */
.input-button {
  background: #6f7983;
  border: none;
  -webkit-appearance: none;
  border-radius: 2px 2px;
  margin-top: -2px;
  margin-bottom: 2px;
  padding: 2px 7px 2px;
  color: #fff;
  cursor: pointer;
  margin: 0 1px;
  font-family: "Lato", "Hiragino Sans GB W3", "Apple SD Gothic Neo", "NanumGothic", sans-serif;
  transition: 0.2s background-color, 0.1s box-shadow, 0.1s transform;
  -moz-transition: 0.2s background-color, 0.1s box-shadow, 0.1s transform;
  -webkit-transition: 0.2s background-color, 0.1s box-shadow, 0.1s transform;
  font-weight: bold;
  min-height: 24px;
  vertical-align: middle;
  transform: translateY(-1px);
  will-change: transform, background-color, box-shadow;
  box-shadow: 0 2px #454b54;
}
.input-button:hover {
  background: #9aa0a6;
  box-shadow: 0 2px #6f7983;
}
.input-button:active {
  transform: translateY(1px);
  box-shadow: none;
}
.input-button.apply-button {
  background: #ac2f3d;
  box-shadow: 0 2px #681e2d;
}
.input-button.apply-button:hover {
  background: #d96275;
  box-shadow: 0 2px #ac2f3d;
}
.input-button.apply-button:active {
  box-shadow: none;
}
.input-text {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 4px 5px 4px 5px;
  margin-right: 2px;
  height: 24px;
  vertical-align: middle;
  -webkit-appearance: none !important;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  font-family: "Lato", "Hiragino Sans GB W3", "Apple SD Gothic Neo", "NanumGothic", sans-serif;
  transition: border 0.5s;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(0, 0, 0, 0) inset, 0 0 0 10px rgba(255, 221, 77, 0);
}
.input-text:focus {
  border-color: rgba(0, 0, 0, 0.3);
  -webkit-appearance: none !important;
  transition: border 0.2s, box-shadow ease-in 0.2s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0), 0 2px 0px rgba(0, 0, 0, 0.1) inset, 0 0 0 2px #ffdd4d;
}
/* ---------------- sprites ---------------- */
.sprite {
  display: block;
  width: 14px;
  height: 14px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-indent: -9999px;
  background-image: url('image/sprites.svg');
  background-repeat: no-repeat;
}
.sprite span {
  display: none;
}
.sprite-lock-white {
  background-position: 0 0px;
}
.sprite-lock {
  background-position: 0 -20px;
}
.sprite-lock-colored {
  background-position: 0 -40px;
}
.sprite-key-white {
  background-position: -20px 0px;
}
.sprite-key {
  background-position: -20px -20px;
}
.sprite-key-colored {
  background-position: -20px -40px;
}
.sprite-unlock-white {
  background-position: -40px 0px;
}
.sprite-unlock {
  background-position: -40px -20px;
}
.sprite-unlock-colored {
  background-position: -40px -40px;
}
.sprite-rss-white {
  background-position: -60px 0px;
}
.sprite-rss {
  background-position: -60px -20px;
}
.sprite-link-white {
  background-position: -80px 0px;
}
.sprite-link {
  background-position: -80px -20px;
}
.sprite-delete-white {
  background-position: -100px 0px;
}
.sprite-delete {
  background-position: -100px -20px;
}
.sprite-outlink-white {
  background-position: -120px 0px;
}
.sprite-outlink {
  background-position: -120px -20px;
}
.sprite-check-white {
  background-position: -140px 0px;
}
.sprite-check {
  background-position: -140px -20px;
}
.sprite-star-white {
  background-position: -160px 0px;
}
.sprite-star {
  background-position: -160px -20px;
}
.sprite-star-colored {
  background-position: -160px -40px;
}
.sprite-star-o-white {
  background-position: -180px 0px;
}
.sprite-star-o {
  background-position: -180px -20px;
}
.sprite-star-o-colored {
  background-position: -180px -40px;
}
.sprite-star-large {
  width: 20px;
  height: 20px;
  background-position: 0px -60px;
}
.sprite-star-large-o {
  width: 20px;
  height: 20px;
  background-position: -20px -60px;
}
.sprite-block-white {
  background-position: -200px 0px;
}
.sprite-block {
  background-position: -200px -20px;
}
.sprite-block-gray {
  background-position: -200px -40px;
}
.sprite-block-red {
  background-position: -200px -60px;
}
.sprite-pencil-white {
  background-position: -220px 0px;
}
.sprite-pencil {
  background-position: -220px -20px;
}
.sprite-pencil-brown {
  background-position: -220px -40px;
}
.sprite-reply-white {
  background-position: -240px 0px;
}
.sprite-reply {
  background-position: -240px -20px;
}
/* columns */
.panel {
  display: inline-block;
  margin-top: 10px;
  margin-right: 15px;
  width: 300px;
  min-height: 100px;
  vertical-align: top;
}
#pseudo-box {
  margin-top: 30px;
}
#independent-notice-line {
  display: none;
  position: absolute;
  top: 30px;
  right: 0;
}
#sub-menu-box {
  display: none;
}
.section {
  padding-bottom: 10px;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 2px 0 #ebeff2 inset;
  background: #fff;
}
.section h3 {
  height: 40px;
  line-height: 40px;
  margin-bottom: 15px;
  padding-left: 15px;
  font-weight: normal;
}
.section h3 span {
  border-bottom: 2px solid #ffdd4d;
  display: block;
  height: 34px;
  margin: 0 0 0 -2px;
  padding: 5px 0 0 2px;
}
.section ol li,
.section ul li {
  list-style: none;
  border-bottom: 1px solid #eee;
  padding: 5px 15px;
}
.section ol li:last-child,
.section ul li:last-child {
  border-bottom: none;
}
/* hide tab bar */
#widget-tabs-box {
  display: none;
}
/* Default dashboard widget */
#defaultDashboardWidget #shortcut-collection,
#defaultDashboardWidget #total-information,
#defaultDashboardWidget #myBlogInfo,
#defaultDashboardWidget #textcube-notice {
  margin: 0 15px;
}
#defaultDashboardWidget tr:hover td {
  background: none;
}
#defaultDashboardWidget #shortcut-collection {
  border-bottom: 2px solid #ebeff2;
  padding: 0 15px 10px 15px;
  margin: 5px 0;
}
#defaultDashboardWidget #shortcut-collection h4 {
  display: none;
}
#defaultDashboardWidget #shortcut-collection ul {
  list-style: none;
}
#defaultDashboardWidget #shortcut-collection li {
  display: inline-block;
  padding: 0;
  border: none;
}
#defaultDashboardWidget #shortcut-collection li a {
  display: block;
  background: #d2d5d9;
  margin: 0 5px 5px 0;
  padding: 5px 10px;
}
#defaultDashboardWidget #shortcut-collection li a:hover {
  background: #ac2f3d;
  color: #fff;
  text-decoration: none;
}
#defaultDashboardWidget #total-information h4.caption {
  border-top: 1px solid #d2d5d9;
  margin: 0 -15px;
  padding: 10px 15px 0 15px;
  text-align: center;
  display: none;
}
#defaultDashboardWidget #total-information .posts-line,
#defaultDashboardWidget #total-information .visitors-line {
  float: left;
  width: 49.5%;
  border-collapse: collapse;
}
#defaultDashboardWidget #total-information .posts-line caption,
#defaultDashboardWidget #total-information .visitors-line caption {
  background: #ebeff2;
  height: 23px;
  padding: 5px 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-weight: bold;
}
#defaultDashboardWidget #total-information .posts-line thead,
#defaultDashboardWidget #total-information .visitors-line thead {
  display: none;
}
#defaultDashboardWidget #total-information .posts-line td,
#defaultDashboardWidget #total-information .visitors-line td {
  padding: 5px 0;
}
#defaultDashboardWidget #total-information .posts-line td.type,
#defaultDashboardWidget #total-information .visitors-line td.type {
  text-align: left;
  padding-left: 5px;
}
#defaultDashboardWidget #total-information .posts-line td.sum,
#defaultDashboardWidget #total-information .visitors-line td.sum {
  text-align: right;
  padding-right: 5px;
}
#defaultDashboardWidget #total-information .posts-line tr:first-child td,
#defaultDashboardWidget #total-information .visitors-line tr:first-child td {
  border-top: 2px solid #9aa0a6;
}
#defaultDashboardWidget #total-information .posts-line {
  margin-right: 2px;
}
#defaultDashboardWidget #total-information:after {
  content: " ";
  display: block;
  clear: both;
}
#defaultDashboardWidget #myBlogInfo {
  margin-bottom: 10px;
}
#defaultDashboardWidget #myBlogInfo h4.caption {
  text-align: center;
  padding: 5px 0 0;
  margin: 0;
  height: 20px;
  background: #ebeff2;
}
#defaultDashboardWidget #myBlogInfo table.recent {
  margin: 0;
}
#defaultDashboardWidget #myBlogInfo table.recent caption {
  display: none;
}
#defaultDashboardWidget #myBlogInfo table.recent th {
  display: none;
}
#defaultDashboardWidget #myBlogInfo table.recent tr:first-child td {
  border-top: 2px solid #9aa0a6;
}
#defaultDashboardWidget #myBlogInfo table.recent .date {
  width: 50px;
}
#defaultDashboardWidget #myBlogInfo table.recent .category {
  width: 40px;
}
#defaultDashboardWidget #textcube-notice {
  margin-bottom: 15px;
}
#defaultDashboardWidget #textcube-notice h4.caption {
  margin: 0;
  padding: 5px 15px 0 15px;
  text-align: center;
  height: 20px;
  background: #ebeff2;
}
#defaultDashboardWidget #textcube-notice tr:first-child td {
  border-top: 2px solid #9aa0a6;
}
#defaultDashboardWidget #textcube-notice .date {
  width: 40px;
}
#defaultDashboardWidget #textcube-notice table {
  margin: 0;
}
#widget-button-bottom {
  margin-top: 10px;
  padding: 10px 10px;
  background: #f5f8fa;
  border-radius: 2px;
}
