@charset "utf-8";
@import "http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic,300italic,300";
/* set icons */
@font-face {
  font-family: 'icomoon';
  src: url('icomoon/fonts/icomoon.eot?sasl7o');
  src: url('icomoon/fonts/icomoon.eot?#iefixsasl7o') format('embedded-opentype'), url('icomoon/fonts/icomoon.woff?sasl7o') format('woff'), url('icomoon/fonts/icomoon.ttf?sasl7o') format('truetype'), url('icomoon/fonts/icomoon.svg?sasl7o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* ---------------- mixins ---------------- */
.border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.transition-none {
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
}
.hidden {
  display: none;
}
.font-family-Lato {
  font-family: "Lato", "Hiragino Sans GB W3", "Apple SD Gothic Neo", "NanumGothic", sans-serif;
}
.font-family-Quicksand {
  font-family: "Quicksand", "Hiragino Sans GB W3", "Apple SD Gothic Neo", "NanumGothic", sans-serif;
}
.afterclear {
  content: " ";
  display: block;
  clear: both;
}
.buttonemphasis {
  background: #ac2f3d;
}
.buttonemphasis:hover {
  background: #d96275;
}
/* ---------------- colors ---------------- */
/* ---------------- buttons, inputs ---------------- */
.input-button {
  background: #6f7983;
  border: none;
  -webkit-appearance: none;
  border-radius: 2px 2px;
  margin-top: -2px;
  margin-bottom: 2px;
  padding: 2px 7px 2px;
  color: #fff;
  cursor: pointer;
  margin: 0 1px;
  font-family: "Lato", "Hiragino Sans GB W3", "Apple SD Gothic Neo", "NanumGothic", sans-serif;
  transition: 0.2s background-color, 0.1s box-shadow, 0.1s transform;
  -moz-transition: 0.2s background-color, 0.1s box-shadow, 0.1s transform;
  -webkit-transition: 0.2s background-color, 0.1s box-shadow, 0.1s transform;
  font-weight: bold;
  min-height: 24px;
  vertical-align: middle;
  transform: translateY(-1px);
  will-change: transform, background-color, box-shadow;
  box-shadow: 0 2px #454b54;
}
.input-button:hover {
  background: #9aa0a6;
  box-shadow: 0 2px #6f7983;
}
.input-button:active {
  transform: translateY(1px);
  box-shadow: none;
}
.input-button.apply-button {
  background: #ac2f3d;
  box-shadow: 0 2px #681e2d;
}
.input-button.apply-button:hover {
  background: #d96275;
  box-shadow: 0 2px #ac2f3d;
}
.input-button.apply-button:active {
  box-shadow: none;
}
.input-text {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 4px 5px 4px 5px;
  margin-right: 2px;
  height: 24px;
  vertical-align: middle;
  -webkit-appearance: none !important;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  font-family: "Lato", "Hiragino Sans GB W3", "Apple SD Gothic Neo", "NanumGothic", sans-serif;
  transition: border 0.5s;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(0, 0, 0, 0) inset, 0 0 0 10px rgba(255, 221, 77, 0);
}
.input-text:focus {
  border-color: rgba(0, 0, 0, 0.3);
  -webkit-appearance: none !important;
  transition: border 0.2s, box-shadow ease-in 0.2s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0), 0 2px 0px rgba(0, 0, 0, 0.1) inset, 0 0 0 2px #ffdd4d;
}
/* ---------------- sprites ---------------- */
.sprite {
  display: block;
  width: 14px;
  height: 14px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-indent: -9999px;
  background-image: url('image/sprites.svg');
  background-repeat: no-repeat;
}
.sprite span {
  display: none;
}
.sprite-lock-white {
  background-position: 0 0px;
}
.sprite-lock {
  background-position: 0 -20px;
}
.sprite-lock-colored {
  background-position: 0 -40px;
}
.sprite-key-white {
  background-position: -20px 0px;
}
.sprite-key {
  background-position: -20px -20px;
}
.sprite-key-colored {
  background-position: -20px -40px;
}
.sprite-unlock-white {
  background-position: -40px 0px;
}
.sprite-unlock {
  background-position: -40px -20px;
}
.sprite-unlock-colored {
  background-position: -40px -40px;
}
.sprite-rss-white {
  background-position: -60px 0px;
}
.sprite-rss {
  background-position: -60px -20px;
}
.sprite-link-white {
  background-position: -80px 0px;
}
.sprite-link {
  background-position: -80px -20px;
}
.sprite-delete-white {
  background-position: -100px 0px;
}
.sprite-delete {
  background-position: -100px -20px;
}
.sprite-outlink-white {
  background-position: -120px 0px;
}
.sprite-outlink {
  background-position: -120px -20px;
}
.sprite-check-white {
  background-position: -140px 0px;
}
.sprite-check {
  background-position: -140px -20px;
}
.sprite-star-white {
  background-position: -160px 0px;
}
.sprite-star {
  background-position: -160px -20px;
}
.sprite-star-colored {
  background-position: -160px -40px;
}
.sprite-star-o-white {
  background-position: -180px 0px;
}
.sprite-star-o {
  background-position: -180px -20px;
}
.sprite-star-o-colored {
  background-position: -180px -40px;
}
.sprite-star-large {
  width: 20px;
  height: 20px;
  background-position: 0px -60px;
}
.sprite-star-large-o {
  width: 20px;
  height: 20px;
  background-position: -20px -60px;
}
.sprite-block-white {
  background-position: -200px 0px;
}
.sprite-block {
  background-position: -200px -20px;
}
.sprite-block-gray {
  background-position: -200px -40px;
}
.sprite-block-red {
  background-position: -200px -60px;
}
.sprite-pencil-white {
  background-position: -220px 0px;
}
.sprite-pencil {
  background-position: -220px -20px;
}
.sprite-pencil-brown {
  background-position: -220px -40px;
}
.sprite-reply-white {
  background-position: -240px 0px;
}
.sprite-reply {
  background-position: -240px -20px;
}
/* ---------------- communication.less ---------------- */
#communication-tabs-box {
  display: none;
}
#category-form {
  padding-top: 20px;
}
#category-form .section {
  float: left;
  margin: 0 20px 10px 20px;
  height: 30px;
}
#category-form .section select#category {
  min-width: 100px;
  vertical-align: middle;
  margin: 5px 0;
}
#delete-section-top {
  text-align: right;
  margin: 0 0 10px 0;
  height: 30px;
  vertical-align: middle;
  line-height: 30px;
}
table.data-inbox a.unblock-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  padding: 3px;
  border-radius: 2px;
  position: relative;
  margin: 0;
}
table.data-inbox a.unblock-icon:hover {
  text-decoration: none;
}
table.data-inbox a.unblock-icon span {
  display: block;
  width: 14px;
  height: 14px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-indent: -9999px;
  background-image: url('image/sprites.svg');
  background-repeat: no-repeat;
  background-position: -200px -40px;
}
table.data-inbox a.unblock-icon span span {
  display: none;
}
table.data-inbox a.unblock-icon:hover span {
  background-position: -200px -60px;
}
table.data-inbox a.delete-button {
  background-color: #ebeff2;
}
table.data-inbox a.delete-button:hover {
  background-color: #d96275;
}
table.data-inbox a.delete-button:hover span {
  background-position: -100px 0px;
}
table.data-inbox th.name {
  text-align: left;
  text-indent: 20px;
}
table.data-inbox th.ip {
  text-transform: uppercase;
  min-width: 130px;
}
table.data-inbox td.name {
  text-align: left;
}
table.data-inbox td.name a {
  vertical-align: middle;
}
table.data-inbox td.content br {
  display: none !important;
}
table.data-inbox td.content a.entryURL {
  border-bottom: 1px solid #eee;
  display: inline-block;
  margin-bottom: 4px;
}
table.data-inbox td.content a.entryURL .entry-title {
  font-weight: bold;
}
table.data-inbox td.content a.entryURL span.divider {
  display: inline;
  color: #aaa;
}
table.data-inbox td.content a.entryURL .explain {
  color: #999;
}
table.data-inbox td.content a.entryURL:hover {
  text-decoration: none;
  border-bottom-color: #aaaaaa;
}
table.data-inbox td.content span.divider {
  display: none;
}
table.data-inbox td.content span.divider + a {
  display: block;
  width: 14px;
  height: 14px;
  padding: 3px;
  border-radius: 2px;
  position: relative;
  margin: 5px 0 0 0;
  float: right;
  vertical-align: middle;
}
table.data-inbox td.content span.divider + a:hover {
  text-decoration: none;
}
table.data-inbox td.content span.divider + a:hover span {
  background-position: -220px -40px;
}
table.data-inbox td.content span.divider + a span {
  display: block;
  width: 14px;
  height: 14px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-indent: -9999px;
  background-image: url('image/sprites.svg');
  background-repeat: no-repeat;
  background-position: -220px -20px;
}
table.data-inbox td.content span.divider + a span span {
  display: none;
}
table.data-inbox td.ip {
  width: 100px;
  text-align: left;
}
table.data-inbox td.ip a {
  vertical-align: middle;
}
table.data-inbox td.reply {
  width: 30px;
}
table.data-inbox td.reply a {
  vertical-align: middle;
}
table.data-inbox td.reply a {
  display: inline-block;
  width: 14px;
  height: 14px;
  padding: 3px;
  border-radius: 2px;
  position: relative;
  margin: 0;
  background: transparent;
}
table.data-inbox td.reply a:hover {
  background: #ff984d;
  text-decoration: none;
}
table.data-inbox td.reply a:hover span {
  background-position: -240px 0px;
}
table.data-inbox td.reply a span {
  display: block;
  width: 14px;
  height: 14px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-indent: -9999px;
  background-image: url('image/sprites.svg');
  background-repeat: no-repeat;
  background-position: -240px -20px;
}
table.data-inbox td.reply a span span {
  display: none;
}
table.data-inbox td.delete {
  width: 30px;
}
table.data-inbox td.delete a {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: #ebeff2;
  padding: 3px;
  border-radius: 2px;
  position: relative;
  margin: 0;
}
table.data-inbox td.delete a:hover {
  text-decoration: none;
}
table.data-inbox td.delete a span {
  display: block;
  width: 14px;
  height: 14px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-indent: -9999px;
  background-image: url('image/sprites.svg');
  background-repeat: no-repeat;
  background-position: -100px -20px;
}
table.data-inbox td.delete a span span {
  display: none;
}
table.data-inbox td.delete a.delete-button {
  background-color: #ebeff2;
}
table.data-inbox td.delete a.delete-button:hover {
  background-color: #d96275;
}
table.data-inbox td.delete a.delete-button:hover span {
  background-position: -100px 0px;
}
.data-subbox #delete-section {
  display: none;
}
#data-description {
  padding: 10px 0;
  text-align: right;
  display: block;
  width: 100%;
  height: 60px;
  display: none;
}
#data-description dl {
  display: inline-block;
  margin: 0 10px;
  padding: 5px 0;
}
#data-description dl dt {
  display: block;
  width: 14px;
  height: 14px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-indent: -9999px;
  background-image: url('image/sprites.svg');
  background-repeat: no-repeat;
  border-radius: 2px;
  text-align: left;
  border: 2px solid #454b54;
  background-color: #454b54;
  display: inline-block;
  margin-right: 5px;
}
#data-description dl dt span {
  display: none;
}
#data-description dl.ban-description dt {
  border: 2px solid transparent;
  background-color: transparent;
  background-position: -200px -60px;
}
#data-description dl.trash-description dt {
  border: 2px solid #d96275;
  background-color: #d96275;
  background-position: -100px 0px;
}
#data-description dl dd {
  display: inline-block;
  height: 14px;
  margin: 0;
  padding: 0;
  vertical-align: 4px;
}
