@import "http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic,300italic,300";
@charset "utf-8";
/* set icons */
@font-face {
  font-family: 'icomoon';
  src: url('icomoon/fonts/icomoon.eot?sasl7o');
  src: url('icomoon/fonts/icomoon.eot?#iefixsasl7o') format('embedded-opentype'), url('icomoon/fonts/icomoon.woff?sasl7o') format('woff'), url('icomoon/fonts/icomoon.ttf?sasl7o') format('truetype'), url('icomoon/fonts/icomoon.svg?sasl7o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* ---------------- mixins ---------------- */
.border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.transition-none {
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
}
.hidden {
  display: none;
}
.font-family-Lato {
  font-family: "Lato", "Hiragino Sans GB W3", "Apple SD Gothic Neo", "NanumGothic", sans-serif;
}
.font-family-Quicksand {
  font-family: "Quicksand", "Hiragino Sans GB W3", "Apple SD Gothic Neo", "NanumGothic", sans-serif;
}
.afterclear {
  content: " ";
  display: block;
  clear: both;
}
.buttonemphasis {
  background: #ac2f3d;
}
.buttonemphasis:hover {
  background: #d96275;
}
/* ---------------- colors ---------------- */
/* ---------------- buttons, inputs ---------------- */
.input-button {
  background: #6f7983;
  border: none;
  -webkit-appearance: none;
  border-radius: 2px 2px;
  margin-top: -2px;
  margin-bottom: 2px;
  padding: 2px 7px 2px;
  color: #fff;
  cursor: pointer;
  margin: 0 1px;
  font-family: "Lato", "Hiragino Sans GB W3", "Apple SD Gothic Neo", "NanumGothic", sans-serif;
  transition: 0.2s background-color, 0.1s box-shadow, 0.1s transform;
  -moz-transition: 0.2s background-color, 0.1s box-shadow, 0.1s transform;
  -webkit-transition: 0.2s background-color, 0.1s box-shadow, 0.1s transform;
  font-weight: bold;
  min-height: 24px;
  vertical-align: middle;
  transform: translateY(-1px);
  will-change: transform, background-color, box-shadow;
  box-shadow: 0 2px #454b54;
}
.input-button:hover {
  background: #9aa0a6;
  box-shadow: 0 2px #6f7983;
}
.input-button:active {
  transform: translateY(1px);
  box-shadow: none;
}
.input-button.apply-button {
  background: #ac2f3d;
  box-shadow: 0 2px #681e2d;
}
.input-button.apply-button:hover {
  background: #d96275;
  box-shadow: 0 2px #ac2f3d;
}
.input-button.apply-button:active {
  box-shadow: none;
}
.input-text {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 4px 5px 4px 5px;
  margin-right: 2px;
  height: 24px;
  vertical-align: middle;
  -webkit-appearance: none !important;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  font-family: "Lato", "Hiragino Sans GB W3", "Apple SD Gothic Neo", "NanumGothic", sans-serif;
  transition: border 0.5s;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(0, 0, 0, 0) inset, 0 0 0 10px rgba(255, 221, 77, 0);
}
.input-text:focus {
  border-color: rgba(0, 0, 0, 0.3);
  -webkit-appearance: none !important;
  transition: border 0.2s, box-shadow ease-in 0.2s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0), 0 2px 0px rgba(0, 0, 0, 0.1) inset, 0 0 0 2px #ffdd4d;
}
/* ---------------- sprites ---------------- */
.sprite {
  display: block;
  width: 14px;
  height: 14px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-indent: -9999px;
  background-image: url('image/sprites.svg');
  background-repeat: no-repeat;
}
.sprite span {
  display: none;
}
.sprite-lock-white {
  background-position: 0 0px;
}
.sprite-lock {
  background-position: 0 -20px;
}
.sprite-lock-colored {
  background-position: 0 -40px;
}
.sprite-key-white {
  background-position: -20px 0px;
}
.sprite-key {
  background-position: -20px -20px;
}
.sprite-key-colored {
  background-position: -20px -40px;
}
.sprite-unlock-white {
  background-position: -40px 0px;
}
.sprite-unlock {
  background-position: -40px -20px;
}
.sprite-unlock-colored {
  background-position: -40px -40px;
}
.sprite-rss-white {
  background-position: -60px 0px;
}
.sprite-rss {
  background-position: -60px -20px;
}
.sprite-link-white {
  background-position: -80px 0px;
}
.sprite-link {
  background-position: -80px -20px;
}
.sprite-delete-white {
  background-position: -100px 0px;
}
.sprite-delete {
  background-position: -100px -20px;
}
.sprite-outlink-white {
  background-position: -120px 0px;
}
.sprite-outlink {
  background-position: -120px -20px;
}
.sprite-check-white {
  background-position: -140px 0px;
}
.sprite-check {
  background-position: -140px -20px;
}
.sprite-star-white {
  background-position: -160px 0px;
}
.sprite-star {
  background-position: -160px -20px;
}
.sprite-star-colored {
  background-position: -160px -40px;
}
.sprite-star-o-white {
  background-position: -180px 0px;
}
.sprite-star-o {
  background-position: -180px -20px;
}
.sprite-star-o-colored {
  background-position: -180px -40px;
}
.sprite-star-large {
  width: 20px;
  height: 20px;
  background-position: 0px -60px;
}
.sprite-star-large-o {
  width: 20px;
  height: 20px;
  background-position: -20px -60px;
}
.sprite-block-white {
  background-position: -200px 0px;
}
.sprite-block {
  background-position: -200px -20px;
}
.sprite-block-gray {
  background-position: -200px -40px;
}
.sprite-block-red {
  background-position: -200px -60px;
}
.sprite-pencil-white {
  background-position: -220px 0px;
}
.sprite-pencil {
  background-position: -220px -20px;
}
.sprite-pencil-brown {
  background-position: -220px -40px;
}
.sprite-reply-white {
  background-position: -240px 0px;
}
.sprite-reply {
  background-position: -240px -20px;
}
html {
  padding: 0;
}
body#body-login,
#temp-wrap,
#all-wrap {
  background: #fff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#data-outbox {
  padding: 30px 0;
}
#login-box {
  display: block;
  height: auto;
  width: 350px;
  margin: 0 auto;
  background: #d2d5d9;
  padding: 0 0 10px 0;
  border-radius: 4px;
  overflow: hidden;
}
#logo-box {
  background-color: #454b54;
  background-image: url('image/tclogo-text.svg');
  background-position: 10px 7px;
  background-size: 140px;
  background-repeat: no-repeat;
  display: block;
  height: 50px;
  width: 100%;
  position: relative;
}
#logo-box img {
  display: none;
}
#logo-box:after {
  position: absolute;
  height: 100%;
  color: #fff;
  line-height: 45px;
  padding: 0 15px;
  top: 0;
  right: 0;
  content: "Admin Login";
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.field-box {
  padding: 10px 15px;
  margin-bottom: 10px;
  position: relative;
}
.field-box dl {
  display: block;
  padding: 0;
  margin: 0;
  height: 35px;
  width: 100%;
}
.field-box dl dt,
.field-box dl dd {
  display: block;
  padding: 3px 0;
  vertical-align: middle;
}
.field-box dl dt {
  width: 75px;
  display: none;
}
.field-box dl dd {
  position: relative;
}
.field-box dl dd input.input-text {
  display: block;
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 3px;
  font-size: 1.1em;
  position: relative;
  padding-left: 100px;
  z-index: 100;
  line-height: 23px;
}
.field-box dl dd input.checkbox {
  margin-left: 0;
  width: 15px;
  height: 15px;
}
.field-box dl#email-line dd:after,
.field-box dl#password-line dd:after,
.field-box dl#openid-line dd:after {
  content: " ";
  background-color: transparent;
  color: #333;
  display: block;
  position: absolute;
  top: 6px;
  left: 10px;
  z-index: 101;
  width: 80px;
  height: 24px;
  line-height: 23px;
  overflow: hidden;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 2px 0 0 2px;
  font-weight: bold;
  font-size: 0.7rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-right: 1px solid #ebeff2;
}
.field-box dl#email-line dd:after {
  content: "Email";
}
.field-box dl#password-line dd:after {
  content: "Password";
}
.field-box dl#openid-line dd:after {
  content: "OpenID";
}
.field-box dl#checkbox-line #email-save,
.field-box dl#checkbox-line #password_int {
  display: inline-block;
  margin-right: 20px;
}
.field-box .button-box {
  position: absolute;
  bottom: 10px;
  right: 15px;
}
.field-box .button-box input {
  background: #ac2f3d;
  box-shadow: 0 2px #681e2d;
  width: 100px;
  font-size: 1.2em;
  height: 28px;
}
.field-box .button-box input:hover {
  background: #d96275;
  box-shadow: 0 2px #ac2f3d;
}
.field-box .button-box input:active {
  box-shadow: none;
}
.field-box .button-box input:hover {
  background: #d96275;
}
#basic-field-box .return-box a {
  background: #6f7983;
  border: none;
  -webkit-appearance: none;
  border-radius: 2px 2px;
  margin-top: -2px;
  margin-bottom: 2px;
  padding: 2px 7px 2px;
  color: #fff;
  cursor: pointer;
  margin: 0 1px;
  font-family: "Lato", "Hiragino Sans GB W3", "Apple SD Gothic Neo", "NanumGothic", sans-serif;
  transition: 0.2s background-color, 0.1s box-shadow, 0.1s transform;
  -moz-transition: 0.2s background-color, 0.1s box-shadow, 0.1s transform;
  -webkit-transition: 0.2s background-color, 0.1s box-shadow, 0.1s transform;
  font-weight: bold;
  min-height: 24px;
  vertical-align: middle;
  transform: translateY(-1px);
  will-change: transform, background-color, box-shadow;
  box-shadow: 0 2px #454b54;
  display: block;
  width: 30px;
  height: 28px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-indent: -9999px;
  overflow: hidden;
  position: relative;
}
#basic-field-box .return-box a:hover {
  background: #9aa0a6;
  box-shadow: 0 2px #6f7983;
}
#basic-field-box .return-box a:active {
  transform: translateY(1px);
  box-shadow: none;
}
#basic-field-box .return-box a.apply-button {
  background: #ac2f3d;
  box-shadow: 0 2px #681e2d;
}
#basic-field-box .return-box a.apply-button:hover {
  background: #d96275;
  box-shadow: 0 2px #ac2f3d;
}
#basic-field-box .return-box a.apply-button:active {
  box-shadow: none;
}
#basic-field-box .return-box a:after {
  width: 100%;
  height: 100%;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e666";
  text-indent: 0;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}
#openid-field-box {
  border-top: 1px solid #f5f8fa;
}
#openid-field-box dl#openid-line {
  height: 55px;
}
#openid-field-box dl#openid-line p {
  padding: 5px 0;
}
#message-box {
  margin: 0 15px;
  padding: 2px 5px;
  background: rgba(255, 255, 255, 0.5);
  color: #ac2f3d;
  font-weight: bold;
  border-radius: 3px;
  text-align: center;
}
