@charset "utf-8";
/* ---------------- network.less ---------------- */
table.data-inbox {
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
table.data-inbox .uncategorized {
  color: #aaa;
}
table.data-inbox td.status span {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: #ccc;
  padding: 3px;
  border-radius: 2px;
  position: relative;
  margin: 0;
}
table.data-inbox td.status span span.text {
  display: block;
  width: 14px;
  height: 14px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-indent: -9999px;
  background-image: url('image/sprites.svg');
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: transparent;
}
table.data-inbox td.status span span.text span {
  display: none;
}
table.data-inbox td.status span.private-on-icon {
  background-color: #ac2f3d;
}
table.data-inbox td.status span.protected-on-icon {
  background-color: #ffd31a;
}
table.data-inbox td.status span.public-on-icon {
  background-color: #3dd237;
}
table.data-inbox td.status span.private-off-icon:hover {
  background-color: #d96275;
}
table.data-inbox td.status span.protected-off-icon:hover {
  background-color: rgba(255, 211, 26, 0.5);
}
table.data-inbox td.status span.public-off-icon:hover {
  background-color: #8ee58a;
}
table.data-inbox td.status span.private-on-icon span.text,
table.data-inbox td.status span.private-off-icon span.text {
  background-position: 0 0px;
}
table.data-inbox td.status span.protected-on-icon span.text,
table.data-inbox td.status span.protected-off-icon span.text {
  background-position: -20px 0px;
}
table.data-inbox td.status span.public-on-icon span.text,
table.data-inbox td.status span.public-off-icon span.text {
  background-position: -40px 0px;
}
table.data-inbox td.edit a {
  display: inline-block;
  width: 14px;
  height: 14px;
  padding: 3px;
  border-radius: 2px;
  position: relative;
  margin: 0;
  vertical-align: middle;
}
table.data-inbox td.edit a:hover {
  text-decoration: none;
}
table.data-inbox td.edit a:hover span {
  background-position: -220px -40px;
}
table.data-inbox td.edit a span {
  display: block;
  width: 14px;
  height: 14px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-indent: -9999px;
  background-image: url('image/sprites.svg');
  background-repeat: no-repeat;
  background-position: -220px -20px;
}
table.data-inbox td.edit a span span {
  display: none;
}
table.data-inbox td.delete a {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: #ebeff2;
  padding: 3px;
  border-radius: 2px;
  position: relative;
  margin: 0;
}
table.data-inbox td.delete a:hover {
  text-decoration: none;
}
table.data-inbox td.delete a span {
  display: block;
  width: 14px;
  height: 14px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-indent: -9999px;
  background-image: url('image/sprites.svg');
  background-repeat: no-repeat;
  background-position: -100px -20px;
}
table.data-inbox td.delete a span span {
  display: none;
}
table.data-inbox td.delete a.delete-button {
  background-color: #ebeff2;
}
table.data-inbox td.delete a.delete-button:hover {
  background-color: #d96275;
}
table.data-inbox td.delete a.delete-button:hover span {
  background-position: -100px 0px;
}
table.data-inbox td.xfn-edit label {
  display: block;
  text-align: left;
}
table.data-subbox {
  display: none;
}

/*# sourceMappingURL=network.css.map */