@charset "utf-8";
@import (reference) "icomoon/iconfont.less";
@import (reference) "imports/_mixin.less";


// container
#part-center-quilt {
	display: block;
	padding: 15px 0;

	.part-reset();

	& > h2.caption {
		display: none;
	}
}

// columns
.panel {
	display: inline-block;
	float: left;
	width: ~'calc((100% - 30px)/3)';
	margin-right: 15px;
	min-width: 300px;
	min-height: 100px;
	vertical-align: top;

	&#widget-container-2 {
		margin-right: 0;
	}
}


#independent-notice-line {
	display: none;
	position: absolute;
	top: 30px;
	right: 0;
}


#sub-menu-box {
	display: none;
}


.section {
	margin: 0 0 10px 0;
	padding-bottom: 10px;
	overflow: hidden;
	border-radius: 2px;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.05);
	background: #fff;

	h3 {
		margin-bottom: 15px;
		padding: 10px 0 0 15px;
		font-weight: bold;
		letter-spacing: 0.1em;

		span {
			border-bottom: 2px solid @yellow-s1;
			display: block;
			margin: 0;
			padding: 5px 0;
		}
	}

	ol, ul {
		li {
			list-style: none;
			border-bottom: 1px solid #eee;
			padding: 5px 15px;
			
			&:last-child {
				border-bottom: none;
			}
		}
	}
	
}

/* hide tab bar */
#widget-tabs-box {
	display: none;
}

/* Default dashboard widget */

#defaultDashboardWidget {

	// common
	h4.caption {
		text-align: center;
		padding: 5px 0;
		margin: 0;
		background: @gray-l4;
	}

	#shortcut-collection, 
	#total-information, 
	#myBlogInfo, 
	#textcube-notice {
		margin: 0 15px;
	}

	tr:hover td {
		background: none;
	}

	#shortcut-collection {
		border-bottom: 2px solid @gray-l4;
		padding: 0 15px 10px 15px;
		margin: 5px 0;

		h4 {
			display: none;
		}

		ul {
			list-style: none;
		}
		li {
			display: inline-block;
			padding: 0;
			border: none;

			a {	
				display: block;
				background: @gray-l3;
				margin: 0 5px 5px 0;
				padding: 5px 10px;

				&:hover {
					background: @red;
					color: #fff;
					text-decoration: none;
				}
			}
		}
	}

	#total-information {
		.cf;

		h4.caption {
			display: none;
		}
		.posts-line, .visitors-line {
			float: left;
			width: ~'calc((100% - 4px)/2)';
			border-collapse: collapse;
			
			caption {
				background: @gray-l4;
				padding: 5px 0;
				font-weight: bold;
			}
			thead {
				display: none;
			}
			td {

				&.type {
					text-align: left;
					padding-left: 5px;
				}
				&.sum {
					text-align: right;
					padding-right: 5px;
				}
			}

			tr:first-child td {
				border-top: 2px solid @gray-l2;
			}
		}
		.posts-line {
			margin-right: 4px;
		}
	}

	#myBlogInfo {
		margin-bottom: 10px;

		table.recent {
			margin: 0;

			caption {
				display: none;
			}
			th {
				display: none;
			}
			tr:first-child td {
				border-top: 2px solid @gray-l2;
			}
			.date {
				width: 50px;
			}
			.category {
				width: 50px;
			}
			.title {
				text-align: left;
			}
		}
	}

	#textcube-notice {
		margin-bottom: 15px;

		tr:first-child td {
			border-top: 2px solid @gray-l2;
		}
		.date {
			width: 40px;
		}
		table {
			margin: 0;
		}
	}

}


#widget-button-bottom {
	margin-top: 20px;
	padding: 10px 10px;
	background: @gray-l5;
	border-top: none;
	border-radius: 2px;
	clear: both;
}


// About page
#part-center-about {
	.cf;

	& > h2.caption {
		display: none;
	}

	& > h3 {
		margin-top: 10px;
		padding-bottom: 10px;
		font-size: 2em;
		font-weight: normal;
		border-bottom: 2px solid @yellow-s1;
	}

	.main-explain-box {
		margin-bottom: 30px;

		&:before {
			content: "";
			width: 400px;
			height: 100px;
			display: inline-block;
			margin-right: 20px;
			background-image: url('image/tclogo-text-b.svg');	
			background-size: 400px auto;
			background-position: center center;
			background-repeat: no-repeat;
		}

		#copyright {
			float: left;
		}

		#XHTML-ValidIcon,
		#Needlworks-Icon {
			float: right;
			margin-left: 10px;
		}

		.clear {
			.cf;
		}
	}
	

	// credits
	.section {
		box-shadow: none;

		h3 {
			padding-left: 0;
			font-size: 1.4em;
		}

		.container {
			margin: 15px 0;
		}
		
		&#developer-description {
			float: left;
			width: 50%;
		}
		&#supporter-description {
			margin-left: 50%;
			padding-left: 20px;
		}

		table {
			margin-top: 0;
			margin-bottom: 15px;
			border-bottom: 2px solid @gray-l3;
			font-size: 1.1em;

			thead {
				display: none;
			}
			tbody {

			}
			td {
				text-align: left;
				padding: 7px 0;
			}

			.name {
				width: 200px;
				font-weight: bold;
			}
		}

		h4 {
			font-size: 1em;
			text-transform: uppercase;
			letter-spacing: 1px;
			padding: 7px 0;
			border-bottom: 2px solid @gray-l3;
			margin: 10px 0 0 0;
		}

		p {
			line-height: 1.6;
			margin-top: 10px;
		}
	}

}